<div class="body__video">
  <iframe
    width="512"
    height="256"
    src="https://www.youtube.com/embed/xc6dFl5yUNM"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
<div class="body__video--title">
  <h3>Volunteer visit management App</h3>
</div>
<div class="body__container">
  <div class="body__container--message">
    <div id="message--container">
      <p id="message">
        La soledad es uno de los principales problemas sociales de España. Esta
        problemática se ha acrecentado en los últimos años por efectos de la
        pandemia. Se estima que en Málaga existen 60.000 personas mayores solas.
      </p>
      <p id="message">
        La Fundación Harena junto a voluntarios y coordinadores intentan
        disminuir el impacto de la soledad en la sociedad. Por ello, esta App
        pretende facilitar la primera visita donde se recogen las impresiones y
        datos de la persona mayor que podría mejorar su calidad de vida.
      </p>
    </div>
  </div>
  <div class="body__container--icon">
    <div id="icon"><img src="assets/images/device.svg" /></div>
    <div><img src="assets/images/document.svg" /></div>
    <div id="icon"><img src="assets/images/graph.svg" /></div>
  </div>
</div>
