* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf");
}

.footer__container {
  padding-top: 8px;
  width: 100%;
  height: 80px;
  font-family: "SourceSansPro-Regular";
  color: white;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-around;
}

.footer__socialMedia {
  display: flex;
  justify-content: space-around;
}

.footer__info--socialMedia{
  padding: 12px;
  width: 20px;
  height: 20px;
}

.footer__info--logo {
  width: 80px;
  height: 36px;
}

#footer__info {
  padding-top: 4px;
  width: 100%;
  font-family: "SourceSansPro-Regular";
  font-size: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
}
